MYSQLDB_HOST=
MYSQLDB_USER=
MYSQLDB_PASS=
MYSQLDB_DB_PREFIX=
COUCHDB_READ_URL=
COUCHDB_WRITE_URL=
COUCHDB_DEFAULT=
COUCHDB_USERS_DB=
COUCHDB_USERS_SIGNIN_DESIGN=
COUCHDB_USERS_SIGNIN_VIEW=
FS_ROOT=/fs-root/
PORT=3100
REDIS_HOST=
REDIS_PORT=
REDIS_PASS=
SESSION_NAME=
SESSION_CRYPKEY=
CROS_REQUESTS=true
CROS_ALLOWED_SOURCE=
CROS_ALLOWED_HEADERS=Content-Type